html{
	background-color: #00A0B0;
	font-family: 'Montserrat', sans-serif;
}
@media all{
	#main{
		width: 100%;
		height: 100%;
		padding-top: 100px;
		text-align: center;
		color: white;
	}
	#main h1, #main h3{
		padding: 30px;
	}
	#main a{
		text-decoration: none;
		border: 3px solid #1D5B81;
		padding: 20px;
		color: white;
		margin-top: 100px;
	}
	#main a:hover{
		background-color: #1D5B81;
	}
	#about{
		text-align: center;
		height: 600px;
		background-image: url(../Images/computer.jpg);
		background-size: 100% 100%;
	}
	.info{
		background-color: black;
		opacity: .7;
		color: white;
		height: 100%;
		width: 100%;
	}
	#projects{
		text-align: center;
		border: 2px solid black;
		background-color: #1D5B81;
		color: white;
	}
	#mm, #roam, #juke{
		float: left;
		width: 32%;
		height: 300px;
		background-size: 100% 100%;
		background-image: url("../Images/m-man.png");
		margin: 5px;
	}
	#show1, #show2, #show3{
		display: none;
		background-color: #1D5B81;
		opacity: .9;
		height: 100%;
		width: 100%;
		color: white;
	}
	#show1 a, #show2 a, #show3 a{
		text-decoration: none;
		background-color: black;
		color: white;
	}

	#roam{
		background-image: url("../Images/roam.png");
	}
	#juke{
		background-image: url("../Images/jukebox.png");
	}
	header{
		height: 10%;
		clear: both;
		text-align: center;
	}
	header ul li{
		display: inline;
		padding: 30px;
	}
	header ul li:hover{
		border-bottom: 5px solid white;
	}
	header ul li a img{
		width: 30px;
	}
	#stuff{
		width: 100%;
	}
	.skills{
		width: 100%;
		height: 100%;
		float: left;
		text-align: center;

	}
	.skills p{
		color: #00A0B0;
	}
	footer{
		text-align: center;
		color: white;
	}
}
@media (max-width: 768px) and (min-width: 500px){
	#mm, #roam, #juke{
		float: left;
		width: 30%;
	}
	.col{
		width: 40%;
		float: left;
	}
}
@media (max-width: 500px) {
	#mm, #roam, #juke{
		float: left;
		width: 100%;
	}
	#show1, #show2, #show3{
		background-color: #1D5B81;
		height: 100%;
		width: 100%;
		color: white;
	}
	#show1, #show2, #show3{
		display: inline-block;
		background-color: #1D5B81;
		opacity: .9;
		height: 100%;
		width: 100%;
		color: white;
	}
	.col{
		width: 40%;
		float: left;
	}
}